@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.App {
  display: flex;
}

/* user profile  */
.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
}

.logo {
  width: 4.688rem;
  height: 4.688rem;
  border-radius: 50%;
  background-color: #f4f6f8;
  margin: 1rem 0 8.688rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* profile svg/img/icon */

.icons {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
}

.icon {
  width: 4.063rem;
  height: 4.063rem;
  border-radius: 1.563rem;
  background-color: #373b3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons .activeIcon {
  background-color: #ffffff;
}

/* main container */

.main {
  background-color: #f4f6f8;
  border-radius: 2.5rem 0 0 2.5rem;
  width: 100%;
  height: 100vh;
}

/* main__first--section */

.main-child-one {
  flex: 1;
  padding: 4.375rem;
}

.main__child-one__header {
  display: flex;
  justify-content: space-between;
}

/* seacth input  */

.input {
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  width: 27.063rem;
}

input {
  border-radius: 1.563rem;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.searchsvg {
  /* padding: 0.75rem 0.813rem; */
  padding: 0.7rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 0.563rem 1.063rem 0.563rem 0;
  background-color: #f4f6f8;
}

/* status section  */
.main__child-one__header-status {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.main__child-one__header-status p {
  color: #bbc1c7;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.main__child-one__header-status .active {
  position: relative;
  font-weight: 600;
  color: black;
}

/* if active then it has this lil border  */
.active::after {
  content: "";
  height: 3px;
  width: 30%;
  background: black;
  position: absolute;
  margin: auto;
  bottom: -5px;
  left: 0;
  right: 0;
}

/* the progress / proccess chart / bar of the product delivery */

/* main section of proccess bar  */
.main__child-one__progressChart {
  margin-top: 1rem;
}

.progreesContainer {
  background-color: #ffffff;
  border-radius: 3rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* the rows fo the section  */
.tableRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

/* table heading  */
.tableHead {
  font-weight: 800;
}

/* product info  */
.Product {
  display: flex;
  gap: 0 1rem;
  justify-content: space-between;
}
.productHeading {
  margin-right: 4rem;
}

.Product img {
  width: 5rem;
  border-radius: 10px;
}

/* light heading  */
.light {
  font-weight: 500;
  color: #bfc4d1;
}

/* the step progress bar  */
.line {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
}

.line:after {
  content: "";
  height: 3px;
  width: 100%;
  background: #00d930;
  position: absolute;
  margin: auto;
  bottom: 13px;
  left: 0;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff;
  border: 3px black solid;
  z-index: 3;
  border-radius: 50%;
}

.circlelactive {
  border: 3px #00d930 solid;
  background-color: #00d930;
}

.notification {
  background-color: #f4f6f8;
}

/* main__second--section  / product page  */
.main-child-two {
  background-color: #ffffff;
  max-width: 30rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  height: 100%;
  padding: 0 1.5rem;
}

/* header section of product page  */
.main-child-two .head {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 4rem 0 0 0;
}

.main-child-two .day {
  color: #9e9d9d;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.main-child-two .head p {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.theHead {
  width: 29.77rem;
  margin: 0 auto;
}

.main-child-two .notifications {
  color: #bbc1ce;
  background-color: #f4f6f8;
  border-radius: 1.875rem;
  padding: 0 1.375rem;
  width: 26.938rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.notification__type {
  color: #9e9d9d;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.notification__id {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.notification__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification--ordertype {
  display: flex;
}

.orderImg {
  max-width: 83px;
}

.notification__orderName p {
  padding: 0;
  margin: 0;
}

.notification__orderName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 0 1.375rem;
}

.order__name {
  color: #121212;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.order__time {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.productImg img {
  width: 180px;
}
