@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {

  /* font family */
  --font: "Poppins", sans-serif;

  /* primary colors */
  --danger: #ff0000;
  --success: #00d930;

    /* border radius */
    --borderRadius-10px : 10px ;
    --borderRadius-45px : 45px ;
    --borderRadius-1-5rem : 1.5rem ;
    --borderRadius-50-percent:50%;

  /* Ten shades of Grey */
  --black: #000000;
  --black-light: #121212;
  --black-grey: #393c3f;
  --grey: #878787;
  --grey-two: #aeaeae;
  --grey-three: #bbc1ce;
  --silver: #c2c2c2;
  --grey-four: #f0f0f0;
  --grey-five: #f4f6f8;
  --white: #ffffff;

  --guardsmanRed: #d20000;
  --malibu: #61c6ff;
  --grannySmithApple: #8be499;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--black-light);
  text-transform: capitalize;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--font);
}

.bold {
  font-weight: 700;
  color: var(--black);
}

.App {
  display: flex;
}

.FLEX-COLUMN-CENTER{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FLEX-CENTER-CENTER{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* user profile  */
.Navigation {
  padding: 1.7rem 1.5rem 0 1.5rem;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--borderRadius-50-percent);
  background-color: var(--grey-five);
}

.logo img {
  max-width: 50%;
  margin-left: 4px;
}
/* profile svg/img/icon */

.icons {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 1.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373b3f;
  --path-fill-color: white;
}

.icon:focus {
  background-color: white;
  --path-fill-color: black;
}

.icon svg {
  width: 17px;
}

.icon .statictis .activeIcon svg {
  width: 20px;
}
.OrdersShopIcon svg {
  width: 21px;
}

.profile svg {
  width: 15px;
}

.dolar svg {
  width: 12px;
}

/* main container */

.main {
  background-color: var(--grey-five);
  border-radius: 2.5rem 0 0 2.5rem;
  width: 100%;
  height: 100vh;
}

/* main-first-section */

.main__childOne {
  flex: 1;
  padding: 2.5rem 3.5rem;
}

.main__childOne__header {
  display: flex;
  justify-content: space-between;
}

/* seacth input  */

.header__input {
  height: 3.3rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  width: 40%;
  max-width: 22rem;
  padding-left: 1rem;
}

input {
  border-radius: 1.563rem;
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.header__search {
  padding: 0.6rem;
  border-radius: 1rem;
  margin: 0.5rem 0.8rem 0.5rem 0;
  background-color: var(--grey-five);
}

/* status section  */
.header__status {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.header__status p {
  color: #bbc1c7;
  line-height: 27px;
  text-transform: capitalize;
}
.header__status .header__status--active {
  position: relative;
  font-weight: 600;
  color: var(--black);
}

/* if active then it has this lil border  */
.header__status--active::after {
  content: "";
  height: 3px;
  width: 30%;
  background: var(--black);
  position: absolute;
  margin: auto;
  bottom: -5px;
  left: 0;
  right: 0;
}

.navbar__nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  align-items: center;
  height: 3.5rem;
  margin-top: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  color: var(--grey-three);
  font-weight: 500;
}

.navbar__nav .nav__item {
  padding: 0.3rem;
  max-width: 8rem;
}

.nav__item--active {
  color: var(--white);
  width: 5rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  background-color: var(--black);
}

.main__childOne__orders {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 3rem;
  text-align: center;
  align-items: center;
  margin: 0.5rem 0;
  color: #9e9d9d;
}

.orders--type {
  color: var(--grey);
}

.orders__filterAndsort {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.filter,
.sort {
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: var(--grey);

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.filter__select,
.sort__select {
  padding: 0.8rem;
  background: #ededee;
  border-radius: 8.5px;
  cursor: pointer;
}

.title {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding: 0.3rem 1.5rem;
  color: var(--grey-three);
  align-items: center;
  height: 4.5rem;
  overflow: hidden;
}

.title {
  color: var(--black-light);
  font-weight: 600;
  padding: 0 1.5rem;
}

.product {
  color: var(--black-light);
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}
/* the progress / proccess chart / bar of the product delivery */

/* main section of proccess bar  */
.progreesContainer {
  background-color: var(--white);
  border-radius: 40px;
  margin: 0 auto;
  padding: 1rem 0.5rem 2rem 0;
}

/*! the stepper ////////////////////////////////////////////////////////////////// */

.OrdersShop {
  height: 39vh;
  overflow: auto;
}

.OrdersShop::-webkit-scrollbar {
  width: 10px;
}

.OrdersShop::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.OrdersShop::-webkit-scrollbar-thumb {
  background-color: var(--silver);
  border-radius: var(--borderRadius-45px);
  height: 10px;
}

.TrackAndStepper {
  /* border: 2px solid rgb(250, 109, 238); */

  max-width: 97%;

  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.5rem 0;

  height: 4.5rem;
  overflow: hidden;

  transition: all 300ms ease-out;
  font-weight: 500;
  font-size: 14px;

  text-transform: capitalize;
  cursor: pointer;
}

.focus {
  height: max-content;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.09);
  border-radius: var(--borderRadius-10px);
}

.OrdersShop__Track .Track__GridTrack {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  text-align: center;
  align-items: center;

  color: var(--grey-three);
}

.itemOne {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;

  gap: 1rem;
  text-align: left;
  align-items: center;
}

.itemOne p {
  margin: 0;
  padding: 0;
}

.negativeMargin {
  margin-right: -10px;
}

.itemOne__Img--Shirt--dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: var(--malibu);
}

.ShirtType__BrandName {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black-light);
}

.itemSeven {
  color: var(--black-light);
  font-weight: 600;
}

.Done__CheckList,
.shipping,
.Stepper__DayAndDate {
  max-width: 80%;
  margin: 0 auto;

  text-align: center;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.shipping {
  font-weight: 600;
}

.OrdersShop__Stepper * {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 0;
}

.Stepper__DayAndDate {
  color: #bbc1c7;
}

.Stepper__day {
  display: flex;
  justify-content: center;
}

.Done__CheckList {
  display: grid;
  place-items: center;
  padding: 0.2rem 0;
}

.done {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: var(--borderRadius-50-percent);
  background-color: var(--success);
}

.CheckList__Circle {
  width: 1.3rem;
  height: 1.3rem;
  border: 3px solid  var(--black-light);
  border-radius: var(--borderRadius-50-percent);
  background: var(--white);

  z-index: 10;
}

.line {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
}

.line:after {
  content: "";
  height: 3px;
  width: 90%;
  background-color: var(--success);;
  position: absolute;
  margin: auto;
  bottom: 13px;
  right: 0;
  left: 0;
}

.notification {
  background-color: var(--grey-five);
}

/* main__second--section  / product page  */
.main-child-two {
  background-color: var(--white);
  width: 27vw;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  height: 100%;
  padding: 0 0 0 1.5rem;
}

/* header section of product page  */
.main-child-two .head {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 2rem 2rem 0 0;
}

.head img {
  width: 1.2rem;
}

.main-child-two .head p {
  font-weight: 600;
  font-size: 1rem;
}

.main-child-two .day {
  color: #9e9d9d;
  font-weight: 600;
}

.theHead__notification {
  height: 78.5vh;
  overflow: auto;
  padding-right: 1rem;
}

.theHead__notification::-webkit-scrollbar {
  width: 10px;
}

.theHead__notification::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.theHead__notification::-webkit-scrollbar-thumb {
  background-color: var(--silver);
  border-radius: var(--borderRadius-45px);
  height: 10px;
}

.main-child-two .notifications {
  color: var(--grey-three);
  background-color: var(--grey-five);
  border-radius: var(--borderRadius-1-5rem);
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  height: 8.5rem;
}

.notification__type {
  color: #9e9d9d;
  font-weight: 600;
}

.notification__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification--ordertype {
  display: flex;
}

.orderImg {
  max-width: 60px;
}

.notification__orderName p {
  padding: 0;
  margin: 0;
}

.notification__orderName {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.order__name {
  color: var(--black-light);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.order__time {
  display: flex;
  justify-content: flex-end;

  position: relative;
  bottom: 1rem;
}

.modalComponent {
  font-weight: 500;
}

.modalComponent__head {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 0 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

.modalComponent__head--button button {
  color: var(--danger);
  border-radius: 0.625rem;
  padding: 0.6rem 2.5rem;
  font-size: 17px;
  background-color: var(--grey-five);
  font-weight: 700;
  text-transform: capitalize;
}

.modalComponent__head--id {
  font-size: 21px;
}

.modalComponent__main {
  height: 85vh;
  overflow: auto;
  padding-right: 1rem;
}

.modalComponent__main::-webkit-scrollbar {
  width: 10px;
}

.modalComponent__main::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.modalComponent__main::-webkit-scrollbar-thumb {
  background-color: var(--silver);
  border-radius: var(--borderRadius-45px);
  height: 10px;
}

.modalComponent__information--product {
  background-color: var(--grey-five);
  border-radius: 1rem;
  padding: 25px 0 15px 15px;
  color: var(--grey-three);

  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
.modalComponent__information--product--img img {
  height: 14rem;
}

.modalComponent__information--product--img--downloadBtn button {
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.625rem;
  padding: 0 1.5rem;
  font-weight: 700;
  /* 
  position: fixed;
  top: 22rem;
  right: 14rem; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.modalComponent__information--title,
.modalComponent__attachments--title,
.modalComponent__writtenNote--title {
  font-weight: 700;
  padding: 1rem;
  font-size: 1.3rem;
}

.modalComponent__information--product--detail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.modalComponent__information--product--detail--name,
.modalComponent__information--product--detail--category,
.modalComponent__information--product--detail--size,
.modalComponent__information--product--detail--quantity {
  line-height: 0.1;
}

.modalComponent__information--product--detail--name .bold {
  /* font-size: 20px; */
  line-height: 0.5;
}

.modalComponent__attachments--container {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-five);
  border-radius: 20px;
  color: var(--grey-three);
  padding: 5px;
  margin: 0 auto;
  line-height: 0.8;
}

.modalComponent__attachments--container--name,
.modalComponent__attachments--container--size,
.modalComponent__attachments--container--download {
  display: flex;
  flex-direction: column;
}

.modalComponent__attachments--container--name p,
.modalComponent__attachments--container--size p,
.modalComponent__attachments--container--download p {
  margin: 10px;
}

.modalComponent__attachments--container--download {
  align-items: center;
  text-align: center;
}

.downloadSvg {
  background-color: var(--white);
  border-radius: 1.875rem;
  padding: 5px;
  width: 40px;
  margin: 5px auto;
}

.modalComponent__writtenNote--Note {
  padding: 15px;
  border-radius: var(--borderRadius-10px);
  background-color: var(--grey-five);
  font-size: 14px;
}

.CustomerService {
  background-color: var(--white);
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 5.813rem;
  padding: 1rem 0;

  height: 67vh;
  overflow: auto;
}

.CustomerService::-webkit-scrollbar {
  width: 10px;
}

.CustomerService::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.CustomerService__CustomerDetail--head,
.CustomerDetailCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding-right: 2rem; */
  place-items: center;
  text-align: center;
  margin: 0 1rem;
  font-size: 15px;
}

.CustomerDetailCard {
  color: var(--grey-three);
}

.customerDetail {
  height: 55vh;
  overflow: auto;
  cursor: pointer;
}
.customerDetail::-webkit-scrollbar {
  width: 10px;
}

.customerDetail::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.customerDetail::-webkit-scrollbar-thumb {
  background-color: var(--silver);
  border-radius: var(--borderRadius-45px);
  height: 10px;
}

.MainMsg {
  padding-right: 2.875rem;
  line-height: 33px;
  font-weight: 500;

  padding-right: 4rem;
  font-size: 18px;
  /* font-weight: 600;  */

  height: 78vh;
  overflow: auto;
}
.MainMsg::-webkit-scrollbar {
  width: 10px;
}

.MainMsg::-webkit-scrollbar-track {
  border-radius: var(--borderRadius-10px);
  background-color: transparent;
}

.MainMsg::-webkit-scrollbar-thumb {
  background-color: var(--silver);
  border-radius: var(--borderRadius-45px);
  height: 10px;
}
.MainMsg_Container .modalComponent__head--button button {
  margin: 2.875rem 0 3.188rem 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 30px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 200px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.confirmButtons {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.popup__confirm__yes,
.popup__confirm__no {
  background-color: var(--grey-four);
  border-radius: 25px;
  text-align: center;
  align-items: center;
  padding: 1.3rem 4rem;
  font-size: 1.1rem;
}

.popup__confirm__yes {
  color: var(--success);
}
.popup__confirm__no {
  color: var(--danger);
}

/*!!!!!!!!!!!!!!!!ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss   */

@media (min-width: 1600px) {
  /* user profile  */
  .Navigation {
    padding: 1.5rem 1.2rem 0 1rem;
  }

  .logo {
    width: 4.688rem;
    height: 4.688rem;
  }

  /* profile svg/img/icon */

  .icon {
    width: 4.063rem;
    height: 4.063rem;
  }

  /* main__first--section */

  .main-child-one {
    padding: 3rem 3.5rem;
  }

  /* main__second--section  / product page  */
  .main-child-two {
    width: 25vw;
  }

  /* header section of product page  */
  .main-child-two .head {
    gap: 1rem;
    padding: 3rem 0 0 0;
  }

  .head img {
    width: 1.5rem;
  }

  .main-child-two .head p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .main-child-two .day {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .main-child-two .notifications {
    color: var(--grey-three);
    background-color: var(--grey-five);
    border-radius: var(--borderRadius-1-5rem);
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .notification__type {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .notification__id,
  .notification__order,
  .notification__orderName p,
  .order__time {
    font-size: 1.125rem;
    line-height: 1.688rem;
  }

  .orderImg {
    max-width: 83px;
  }

  .modalComponent__information--product {
    border-radius: 1.875rem;
    gap: 1.5rem;
  }

  .modalComponent__information--product--detail--name .bold {
    font-size: 20px;
    line-height: 0.5;
  }

  .modalComponent__attachments--container {
    text-align: center;
    border-radius: 1.875rem;
    padding: 5px 30px;
  }

  .modalComponent__writtenNote--Note {
    padding: 20px;
    border-radius: 1.875rem;
  }
}

/*! /////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 1800px) {
  /* user profile  */
  .Navigation {
    padding-top: 2.5rem;
  }

  .icon {
    border-radius: var(--borderRadius-1-5rem);
  }

  .icon svg {
    width: 23px;
    height: 23px;
  }

  .icons {
    gap: 2.5rem;
  }

  .main-child-one {
    padding: 4rem 3.5rem;
  }
  .main__childOne__header {
    margin-top: 1rem;
  }

  .main-child-two .head {
    padding: 4rem 0 0 0;
  }

  .header__input {
    height: 3.5rem;
    max-width: 25rem;
  }

  /* status section  */
  .header__status {
    font-size: 1.2rem;
  }

  /* if active then it has this lil border  */
  .header__status--active::after {
    width: 40%;
  }

  .navbar__nav {
    height: 4.5rem;
    margin-top: 3.5rem;
    font-size: 1.4rem;
  }

  .navbar__nav .nav__item {
    padding: 0.5rem 0.3rem;
    max-width: 8rem;
  }

  .nav__item--active {
    width: 7rem;
  }

  .main-child-two .notifications {
    height: 10rem;
  }

  .notification__order {
    height: 50px;
  }

  .order__time {
    height: 20px;
  }

  .main__childOne__orders {
    font-size: 1.4rem;
  }

  .orders--type {
    font-size: 1.6rem;
  }

  .progreesContainer {
    font-size: 1.5rem;
  }

  .OrdersShop {
    height: 50vh;
  }

  .TrackAndStepper {
    height: 5.5rem;
    font-size: 20px;
  }

  .focus {
    height: max-content;
  }

  .line:after {
    content: "";
    height: 3px;
    width: 80%;
    background-color: var(--success);
    position: absolute;
    margin: auto;
    bottom: 13px;
    right: 0px;
    left: 0px;
  }

  .CustomerService {
    height: 75vh;
  }

  .CustomerService__CustomerDetail--head,
  .CustomerDetailCard {
    font-size: 16px;
  }

  .MainMsg {
    padding-right: 5rem;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .modalComponent__head--button button {
    padding: 0.7rem 2.5rem;
    font-size: 18px;
    border-radius: 0.625rem;
  }

  .modalComponent__information--product {
    padding: 25px 25px 25px 0;
    justify-content: space-evenly;
  }

  .modalComponent__information--product--img img {
    height: 16rem;
  }

  .modalComponent__information--product--img--downloadBtn button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .modalComponent__information--product--detail--name,
  .modalComponent__information--product--detail--category,
  .modalComponent__information--product--detail--size,
  .modalComponent__information--product--detail--quantity {
    line-height: 0.3;
  }

  .modalComponent__writtenNote--Note {
    padding: 30px;
    font-size: 18px;
  }

  .modalComponent__head--id {
    font-size: 21px;
  }

  .modalComponent__information--product--detail--name .bold {
    font-size: 20px;
  }
}



/* 


  --black: #000000;
  --codGray: #121212;
  --capeCod: #393c3f;
  --grey: #878787;
  --silverChalice: #aeaeae;
  --heather: #bbc1ce;
  --silver: #c2c2c2;
  --athensGray: #f4f6f8;
  --white: #ffffff;

  --guardsmanRed: #d20000;
  --malibu: #61c6ff;
  --grannySmithApple: #8be499;
  --red: #ff0000;
  --malachite: #00d930;
  --font: "Poppins", sans-serif;

*/